#tweetContainer {
  margin: 25px;
  border: 3px solid black;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.tweetContainerHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headerLeftContent {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tweetContainerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rollOverIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 15px;
}

.tweetText {
  margin-top: 25px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
  font-weight: 600;
}

#dateStamp {
  padding-left: 15px;
  font-size: 0.4cm;
}

.shadow {
  box-shadow: 10px 5px 5px grey;
}